@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

@font-face {
  font-family: "Jua", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
}

body {
  font-family: "Jua", sans-serif;
  overflow: hidden;
}
